{% extends 'templates/app.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1>Hello from hypertube</h1>
				{% for user in data %}
					<div class="col-md-3">

					</div>
				{% endfor %}
		</div>
	</div>
{% endblock %}
