body {
    padding-top: 80px;
    padding-bottom: 40px;
    background: #7994a814;
    overflow: scroll;
}
.btn {
    outline: none;
}

.movie_block {
    height: 300px;
    padding: 15px;
    display: block;
    background: #ffffff;
    border: 1px solid #ddd;
    margin-top: -1px;
}

.trailer {
    width: 100%;
    height: 600px;
}

video.loading {
    background: black url('/img/loading_2.gif') center center no-repeat;
}

.film_block {
    padding: 15px;
    display: block;
    background: #ffffff;
    border: 1px solid #ddd;
    margin-top: 8px;
}

.movie_block_post {
    height: 400px;
    padding: 15px;
    display: block;
    background: #ffffff;
    border: 1px solid #ddd;
    margin-top: -1px;
}

#video_block {
    width: 100%;
    height: 100%;
}

.quality_block {
    padding-top: 10px;
}

.film_photo {
    width: 100%;
    height: 100%;
}
.movie_block_2 {
    height: 100%;
}
.movie_block_2_post {
    height: 100%;
}

.span_class {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.span_h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 18px;
}

.filtr_block {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
}

#search_input {
    padding: 6px 12px;
    width: 200px;
    outline: none;
}

.opacity
{
    opacity: 0.3;
}

.loader_block {
    text-align: center;
    width: 100%;
    height: 120px;
    margin-top: 25px;
}

.loader_block img {
    width: 80px;
}

.show_button {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .movie_block_2 {
        width: 46%;
    }
    .movie_block_2_post {
        width: 29%;
    }
}

@media (max-width: 990px) {
    .movie_block_2 {
        width: 30%;
    }
    .movie_block_2_post {
        width: 38%;
    }
}

@media (min-width: 1200px) {
    .movie_block_2 {
        width: 38%;
    }
    .movie_block_2_post {
        width: 24%;
    }
}
