{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Change information</div>
				<div class="panel-body">
					<form action="{{ path_for('user.accountchange') }}" method="post">
						<div class="form-group {{ errors.name ? ' has-error' : ''}}">
							<label for="name">Name</label>
							<input type="text"  required name="name" id="name"
								class="form-control" value="{{ user_data.name }}">
						</div>
						{% if errors.name %}
							<span class="help-block">{{ errors.name | first }}</span>
						{% endif %}
						<div class="form-group {{ errors.lastname ? ' has-error' : ''}}">
							<label for="lastname">Last name</label>
							<input type="text" required name="lastname" id="lastname"
								class="form-control" value="{{ user_data.lastname }}">
						</div>
						{% if errors.lastname %}
							<span class="help-block">{{ errors.lastname | first }}</span>
						{% endif %}

						<button type="submit" class="btn btn-default">
							Submit
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
