{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
					<div class="panel-heading">Your profile</div>
					<div class="panel-body">
						{% if user_data.avatar == "default.jpg" %}
							<img  src="/uploads/users/default.jpg" class="img-fluid img-thumbnail" alt="">
						{% else %}
							<img  src="/uploads/users/{{user_data.id}}/{{ user_data.avatar }}" class="img-fluid img-thumbnail" alt="">
						{% endif %}
						<a href="{{ path_for('user.accountphoto')}}"  class="btn btn-default">
							Add/Change avatar
						</a>
						<div class="form-group">Your name:
							{{user_data.name}}
						</div>
						<div class="form-group">Your lastname:
							{{user_data.lastname}}
						</div>
						<a href="{{ path_for('user.accountchange')}}" class="btn btn-default">Change</a>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
