{% extends 'templates/app.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{ text.change_password }}</div>
				<div class="panel-body">
					<form action="{{ path_for('user.recover', {email: email}) }}" method="get">
						<div class="form-group {{ errors.password ? ' has-error' : ''}}">
							<label for="password">{{ text.password }}</label>
							<input type="password" name="password" id="password"
								class="form-control">
						</div>
						{% if errors.password %}
							<span class="help-block">{{ errors.password }}</span>
						{% endif %}
						<button type="submit" name="submit" class="btn btn-default">
							{{ text.change }}
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
