<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path_for('home') }}">Hypertube</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			{% if user.check %}
				<ul class="nav navbar-nav">
					<li><a href="{{ path_for('main.page') }}">{{text.movies_list}}</a></li>
					<li><a href="{{ path_for('watched')}}" class="pull-right">Watched</a></li>
					<li><a href="/change/lang">{{text.lang}}</a></li>
				</ul>
			{% endif %}
			<ul class="nav navbar-nav navbar-right">
				{% if user.check %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						   role="button" aria-haspopup="true" aria-expanded="false">
							{{ user.user.email }}
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% if user.native %}
								<li><a href="{{ path_for('user.account')}}">{{text.account_info}}</a></li>
								<li><a href="{{ path_for('user.password')}}">{{text.change}} {{text.password}}</a></li>
								<li><a href="{{ path_for('user.mail')}}">{{text.change}} Email</a></li>
								<li><a href="{{ path_for('user.signout')}}">{{text.sign_out}}</a></li>

							{% else %}
								<li><a href="{{ path_for('user.signout')}}">{{text.sign_out}}</a></li>
							{% endif %}
						</ul>
					</li>
				{% else %}
					<li><a href="{{ path_for('user.signup')}}">{{text.sign_up}}</a></li>
					<li><a href="{{ path_for('user.signin')}}">{{text.sign_in}}</a></li>

				{% endif %}
			</ul>
		</div>
	</div>
</nav>
