{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col">
			<h1 class="title text-center">{{text.movies_list}}</h1>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filtr_block">
				<input type="text" name="search" id="search_input" placeholder="{{text.search}} ">
				<div style="float: right;">
					<button class="btn btn-default sort_button" value="title">{{text.sort_title}}</button>
					<button class="btn btn-default sort_button" value="rating">{{text.sort_rating}}</button>
					<button class="btn btn-default sort_button" value="year">{{text.sort_year}}</button>
				</div>
			</div>
		</div>
		<div id="list_films"></div>
		<div id="ajax_loader" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loader_block" style="display: none;">
			<img src="/img/loading.gif">
		</div>
		<div id="show_block" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="display: none;">
			<button class="btn btn-default show_button">{{text.show_more}}</button>
		</div>
	</div>
	<script type="text/javascript">
		var text_rating = "{{ text.rating }}";
		var text_short_description = "{{ text.short_description }}";
		var text_year = "{{ text.year }}";
		var text_watch = "{{ text.watch }}";

	</script>
	<script src="{{ base_url() }}/js/get_ajax.js"></script>
{% endblock %}
