{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Find movie by name</h1>
			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<form action="{{ path_for('search.page') }}" method="post">
						<div class="form-group">
							<label for="age">Movie title</label>
							<input type="text" id="title" name="title" required>
						</div>

						<button type="submit" class="btn btn-default">
							Find
						</button>
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
