{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col">
            <h1 class="title text-center">Watched</h1>
            {% for video in videos %}
                <p>
                    movie : {{ video.title }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
